<%= link_to category_task_path(task.category_id, task.id) do %>
  <div class="task-container">
    <div class="task-name">
      <%= task.name %>
    </div>
    <div class="task-more">
      􀍠
    </div>
  </div>
<% end %>
