/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url(SF-Pro-Display-Semibold.otf);
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input[type='submit'] {
  background: none;
  border: none;
  font-family: SF-Pro-Display-Semibold;
  font-size: inherit;

  border-radius: 4px;
  padding: 0.5em 1.5em;

  color: white;
  background-color: #e16259;
  border: 1px solid #be5643;
  box-shadow: 0 1px 2px rgb(15 15 15 / 10%);

  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #1d1d1f;
  scroll-behavior: smooth;
}

.body {
  margin-top: 60px;
  width: 100vw;
  min-height: calc(100vh - 60px);
  background-color: #f5f5f7;

  padding: 30px 60px;
  display: flex;

  overflow: scroll;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 60px;
  background-color: white;

  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 35px;
  height: auto;
}

.navbar-left {
  display: flex;
  gap: 10px;
  align-items: center;

  font-family: SF-Pro-Display-Semibold;
  font-size: 25px;
}

.navbar-right {
  display: flex;
  gap: 30px;
  align-items: center;

  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;
}
