/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(SF-Pro-Display-Regular.otf);
}

@font-face {
  font-family: SF-Pro-Display-Semibold;
  src: url(SF-Pro-Display-Semibold.otf);
}

::selection {
  background: #f5f5f7;
}

img,
label {
  display: block;
}

label {
  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  margin-top: 10px;
  width: 100%;

  font-family: SF-Pro-Display-Regular;
  font-size: 15px;

  padding: 0.5em 1em;
  margin-bottom: 20px;

  background-color: white;
  border: 1px solid hsl(240, 3%, 12%, 15%);
  border-radius: 4px;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus {
  outline: none;
  border: 1px solid #2eaadc;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #1d1d1f;
  scroll-behavior: smooth;
}

.body {
  margin-top: 60px;
  width: 100vw;
  min-height: calc(100vh - 60px);
  background-color: #f5f5f7;

  padding: 30px 60px;

  overflow: scroll;
}

.button-red {
  background: none;
  border: none;
  font-size: inherit;

  border-radius: 4px;
  padding: 0.5em 1.5em;

  color: white;
  background-color: #e16259;
  border: 1px solid #be5643;
  box-shadow: 0 1px 2px rgb(15 15 15 / 10%);

  cursor: pointer;

  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;
}

.button-red:hover {
  background-color: #be5643;
}

.button-blue {
  background: none;
  border: none;
  font-size: inherit;

  border-radius: 4px;
  padding: 0.5em 1.5em;

  color: white;
  background-color: #2eaadc;
  border: 1px solid #4b96c0;
  box-shadow: 0 1px 2px rgb(15 15 15 / 10%);

  cursor: pointer;

  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;
}

.button-blue:hover {
  background-color: #4b96c0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 60px;
  background-color: white;

  padding: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;
}

.navbar img {
  width: 35px;
  height: auto;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left div {
  display: flex;
  gap: 10px;
  align-items: center;

  font-family: SF-Pro-Display-Semibold;
  font-size: 30px;

  margin-right: 30px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.gray-hover {
  padding: 0.5em 1.5em;
}

.gray-hover:hover {
  background-color: #f5f5f7;
  border-radius: 4px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 60px;

  border-radius: 4px;
  padding: 1em 1.5em;

  color: white;
  box-shadow: 0 1px 2px rgb(15 15 15 / 10%);

  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;

  -webkit-animation: toast 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: toast 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.alert {
  background-color: #e16259;
  border: 1px solid #be5643;
}

.notice {
  background-color: #2eaadc;
  border: 1px solid #4b96c0;
}

@-webkit-keyframes toast {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  10%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

@keyframes toast {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  10%,
  60% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
}

.two-columns {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: auto;

  height: calc(100vh - 120px);
}

.two-columns img {
  width: 80%;
  height: auto;
}

.two-columns > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: white;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgb(15 15 15 / 10%);
}

.header {
  font-family: SF-Pro-Display-Semibold;
  font-size: 25px;

  margin-bottom: 20px;
}

.devise-form {
  width: 70%;
  height: auto;

  position: relative;
}

.devise-link-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}

.devise-form a {
  font-family: SF-Pro-Display-Semibold;
  font-size: 15px;
}

.devise-form p {
  font-family: SF-Pro-Display-Regular;
  margin-top: 5px;
  font-size: 13.5px;
}
