<% tasks = category.tasks.where(deadline: Date.today) %>
<div class="category-container">
  <div class="category-header">
    <div class="category-name">
      <%= category.name %>
    </div>
  </div>
  <% if tasks.length > 0 %>
    <div class="tasks-container">
      <% tasks.each do |task| %>
        <%= render 'tasks/task', task: task %>
      <% end %>
    </div>
  <% end %>
</div>
