<div class="categories-container">
  <%= render @categories %>
  <div class="new-category-button-container">
    <%= link_to new_category_path do %>
      <div class="button-blue new-category-button-container-button">􀅼</div>
    <% end %>
  </div>
</div>
