<div>
  <div class="header">Due today</div>
  <div class="categories-container">
    <% @categories.each do |category| %>
      <% if category.tasks.where(deadline: Date.today).length > 0 %>
        <%= render 'category_today', category: category %>
      <% end %>
    <% end %>
  </div>
</div>
